@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 17px;
  --fs-xl: 16px;
  --fs-2xl: 17px;
  --fs-3xl: 24px;
  --fs-4xl: 27px;
  --fs-5xl: 50px;


  --color-red: #b91c20;
--color-lite-black : #383838;


}

.text-14 {
  font-size: var(--fs-sm);
}

.text-16 {
  font-size: var(--fs-md);
}

.text-17 {
  font-size: var(--fs-lg);
}

.text-18 {
  font-size: var(--fs-xl);
}

.text-24 {
  font-size: var(--fs-2xl);
}

.text-52 {
  font-size: var(--fs-3xl);
}

.text-60 {
  font-size: var(--fs-4xl);
}

.text-80 {
  font-size: var(--fs-5xl);
}

.color-red {
  color: var(--color-red);
}
.color-black{
  color: var(--color-lite-black);
}


.lh-22 {
  line-height: 22px;
}

.lh-72 {
  line-height: 34px;
}

.lh-62 {
  line-height: 34.4px;
}

.lh-36 {
  line-height: 28px;
}

.lh-96 {
  line-height: 66px;
}

.lh-21 {
  line-height: 21px;
}

.lh-23 {
  line-height: 20.4px;
}

.lts-41 {
  letter-spacing: -0.41px;
}

.ff-Chivo {
  font-family: "Chivo", sans-serif;
}

.ff-poppins {
  font-family: "poppins", sans-serif;
}

.DM-Sans {
  font-family: "DM Sans", sans-serif;
}
@media (min-width:576px) {
  :root {

    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 17px;
    --fs-xl: 18px;
    --fs-2xl: 24px;
    --fs-3xl: 52px;
    --fs-4xl: 57px;
    --fs-5xl: 54px;
  
  
    --color-red: #b91c20;
  
  
  }
  
  .text-14 {
    font-size: var(--fs-sm);
  }
  
  .text-16 {
    font-size: var(--fs-md);
  }
  
  .text-17 {
    font-size: var(--fs-lg);
  }
  
  .text-18 {
    font-size: var(--fs-xl);
  }
  
  .text-24 {
    font-size: var(--fs-2xl);
  }
  
  .text-52 {
    font-size: var(--fs-3xl);
  }
  
  .text-60 {
    font-size: var(--fs-4xl);
  }
  
  .text-80 {
    font-size: var(--fs-5xl);
  }
  
  .color-red {
    color: var(--color-red);
  }
  
  
  .lh-22 {
    line-height: 22px;
  }
  
  .lh-72 {
    line-height: 72px;
  }
  
  .lh-62 {
    line-height: 62.4px;
  }
  
  .lh-36 {
    line-height: 36px;
  }
  
  .lh-96 {
    line-height: 55px;
  }
  
  .lh-21 {
    line-height: 21px;
  }
  
  .lh-23 {
    line-height: 23.4px;
  }
  
  
}
@media (min-width:768px) {
  :root {

    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 17px;
    --fs-xl: 18px;
    --fs-2xl: 24px;
    --fs-3xl: 52px;
    --fs-4xl: 60px;
    --fs-5xl: 60px;
  
  
    --color-red: #b91c20;
  
  
  }
  
  .text-14 {
    font-size: var(--fs-sm);
  }
  
  .text-16 {
    font-size: var(--fs-md);
  }
  
  .text-17 {
    font-size: var(--fs-lg);
  }
  
  .text-18 {
    font-size: var(--fs-xl);
  }
  
  .text-24 {
    font-size: var(--fs-2xl);
  }
  
  .text-52 {
    font-size: var(--fs-3xl);
  }
  
  .text-60 {
    font-size: var(--fs-4xl);
  }
  
  .text-80 {
    font-size: var(--fs-5xl);
  }
  
  .color-red {
    color: var(--color-red);
  }
  
  
  .lh-22 {
    line-height: 22px;
  }
  
  .lh-72 {
    line-height: 72px;
  }
  
  .lh-62 {
    line-height: 62.4px;
  }
  
  .lh-36 {
    line-height: 36px;
  }
  
  .lh-96 {
    line-height: 60px;
  }
  
  .lh-21 {
    line-height: 21px;
  }
  
  .lh-23 {
    line-height: 23.4px;
  }
  
  
}
@media (min-width:992px) {
  :root {

    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 17px;
    --fs-xl: 18px;
    --fs-2xl: 24px;
    --fs-3xl: 52px;
    --fs-4xl: 60px;
    --fs-5xl: 80px;
  
  
    --color-red: #b91c20;
  
  
  }
  
  .text-14 {
    font-size: var(--fs-sm);
  }
  
  .text-16 {
    font-size: var(--fs-md);
  }
  
  .text-17 {
    font-size: var(--fs-lg);
  }
  
  .text-18 {
    font-size: var(--fs-xl);
  }
  
  .text-24 {
    font-size: var(--fs-2xl);
  }
  
  .text-52 {
    font-size: var(--fs-3xl);
  }
  
  .text-60 {
    font-size: var(--fs-4xl);
  }
  
  .text-80 {
    font-size: var(--fs-5xl);
  }
  
  .color-red {
    color: var(--color-red);
  }
  
  
  .lh-22 {
    line-height: 22px;
  }
  
  .lh-72 {
    line-height: 72px;
  }
  
  .lh-62 {
    line-height: 62.4px;
  }
  
  .lh-36 {
    line-height: 36px;
  }
  
  .lh-96 {
    line-height: 96px;
  }
  
  .lh-21 {
    line-height: 21px;
  }
  
  .lh-23 {
    line-height: 23.4px;
  }
  
  
}